.image__upload{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: space-around;
    /* align-items: center; */
}

.img__caption{
    margin-top: 1rem;
}

.select__image{
    margin-top:1rem;
    margin-bottom: 1rem;
}

.progress__bar{
    width: 100%;
}

.upload__btn{
    margin-top:1rem;
}