.navbar__header{
    padding:10px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    /* margin-right: 4rem; */
}

.logOut{
    font-weight: 700;
    margin-left:1rem;
}

.user__name{
    padding-left: 8px;
    text-transform: none !important;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logOut:hover{
    text-decoration: none;
}

.upload__icon{
    padding-left:10px;
}

.menu__favoption{
    text-transform: none !important;
    font-weight: 500;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu__options{
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif !important;
}