.navbar__header{
    padding:10px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    /* margin-right: 4rem; */
}

.logOut{
    font-weight: 700;
}

.logOut:hover{
    text-decoration: none;
}