.posts__body{
    margin-top: 0;
    background-color:rgba(var(--b3f,250,250,250),1);
    /* padding-left: 8rem; */
    padding-top: 2rem;
    /* padding-bottom: 50px; */
}

.posts__section{
    max-width: 550px;
    border: 1px solid lightgray;
    /* margin-bottom: 30px; */
    background-color: white !important;
    
}

.section__avatar{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px;
}

.avatar__text{
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-left: 10px;
    padding-right:10px;
    font-weight: 600;
}

.comment__text{
    overflow: hidden;
    text-overflow: ellipsis; 
    /* padding-left: 10px; */
    padding-right:10px;
    font-weight: 600;
}


.section__image{
    height: 50%;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    
}


.image__style{
    /* height:min-content; */
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.section__captions{
    font-weight: normal;
    /* padding-left: 20px; */
    height: 6rem;
    padding-top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid rgba(var(--ce3,239,239,239),1);;
}

.section_likeComment{
    margin-top: 0.5rem;
    padding-left: 20px;
}

.like_comment_save{
    font-size: 25px;
    /* padding-top: 15px; */
    padding-right: 25px;
    margin-top: 20px;

}
.section__Comments{
    display: flex;
}
form-control:disabled, .form-control[readonly] {
    background-color: none !important;
    opacity: 1;
}
.add__acomment{
    padding-left: 20px;
    margin-top: 6px;
    height: 56px;
    flex:1;
    border: none;
    background-color:none !important;
    opacity: 1;
    font-family: inherit;
    font-size: 14px;
}
.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.01em;
    text-transform: none !important;
    color:#3492eb;
}
.post__buttonDisabled{
    flex:0;
    opacity: 0.5 !important;
    text-transform: none !important;
    font-weight: 600 !important;
    color: #3492eb !important;
}

.post__buttonEnabled{
    flex:0;
    opacity: 1 !important;
    text-transform: none;
    font-weight: 600;
    color: #3492eb;
}

.post__comments{
    padding:10px;
}
.posted__comments{
    padding-left:5px;
}

@media only screen and (max-width:450px) {
    .posts__body{
        margin-top: 0;
        background-color:rgba(var(--b3f,250,250,250),1);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        /* padding-bottom: 30px; */
    }

    .image__style{
        height:inherit;
        width: 100%;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
}