.posts__body{
    margin-top: 0;
    background-color:rgba(var(--b3f,250,250,250),1);
    padding-left: 8rem;
    padding-top: 2rem;
    /* padding-bottom: 30px; */
}

.posts__section{
    max-width: 550px;
    border: 1px solid lightgray;
    /* margin-bottom: 30px; */
    background-color: white !important;
    
}

.section__avatar{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 16px;
}

.avatar__text{
    padding-left: 10px;
    padding-right:10px;
    font-weight: 600;
}


.section__image{
    height: 50%;
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    
}


.image__style{
    height:min-content;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.section__captions{
    font-weight: normal;
    padding-left: 20px;
    height: 4.5rem;
    padding-top: 0.5rem;
    overflow-y: auto;
}

@media only screen and (max-width:450px) {
    .posts__body{
        margin-top: 0;
        background-color:rgba(var(--b3f,250,250,250),1);
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        /* padding-bottom: 30px; */
    }

    .image__style{
        height:inherit;
        width: 100%;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
}